@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container"
     style="width: 600px;
        margin-top: 100px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">
    <form asp-controller="Auth" asp-action="Register" method="post" class="text-center p-5">
        <h2 class="h2 mb-4" style="color:#040434;text-shadow:1px 1px 2px #070a28">Sign Up</h2>
        <div>

            <input asp-for="Email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" style="font-size:18px;" />
            <span asp-validation-for="Email" style="color:red;"> </span>
        </div>
        <div>

            <input asp-for="Password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" style="font-size:18px;" />
            <span asp-validation-for="Password" style="color:red;"> </span>
        </div>
        <div>

            <input asp-for="ConfirmPassword" id="defaultLoginFormConfirmPassword" class="form-control mb-4" placeholder=" Confirm Password" style="font-size:18px;" />
            <span asp-validation-for="ConfirmPassword" style="color:red; "> </span>
        </div>
      
        <input type="submit" value="Sign Up" class="btn btn-info btn-block my-4" style="        font-size: 18px;
        background-color: #1f80ffe7;
        border: none;
    "/>
    </form>
    </div>